<main id="MainContent" class="content-for-layout">
    <div class="error-page mt-100">
        <div class="container">
            <div class="error-content text-center">
                <div class="error-img mx-auto">
                    <img src="~/img/error/error.png" alt="error">
                </div>
                <p class="error-subtitle">Page Not Found</p>
                <a asp-area="User" asp-controller="Home" asp-action="Index" class="btn-primary mt-4">BACK TO HOMEPAGE</a>
            </div>
        </div>
    </div>
</main>