@model Product


<div style="min-height: 100vh" class="col-5 mx-auto">
    
    <form method="post" enctype="multipart/form-data" style="max-width: 600px !important" class="login-form common-form mx-auto mt-4">
        <h1 class="text-center mt-2 mb-3">Create Product</h1>
    <a asp-controller="Product" asp-action="Create" class="btn btn-dark px-3">Back To Index</a>
        <div class="col-md-12">
            <fieldset>
                <label asp-for="Title" class="label"></label>
                <input asp-for="Title" class="p-2" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </fieldset>
        </div>
        <div class="col-md-12">
            <fieldset>
                <label asp-for="Price" class="label"></label>
                <input asp-for="Price" class="p-2" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </fieldset>
        </div>
        <div class="col-md-12">
            <fieldset>
                <label asp-for="DiscountPrice" class="label"></label>
                <input asp-for="DiscountPrice" class="p-2" />
                <span asp-validation-for="DiscountPrice" class="text-danger"></span>
            </fieldset>
        </div>
        <div class="col-md-12">
            <fieldset>
                <label asp-for="CategoryId" class="label"></label>
                <select asp-for="CategoryId" asp-items="@ViewBag.CategoryList" class="form-select">
                    <option selected > Select Category </option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </fieldset>
        </div>
        <div class="col-md-12">
            <fieldset>
                <label asp-for="SKU" class="label"></label>
                <input asp-for="SKU" class="p-2" />
                <span asp-validation-for="SKU" class="text-danger"></span>
            </fieldset>
        </div>
        <div class="col-md-12">
            <fieldset>
                <label asp-for="Description" class="label"></label>
                <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </fieldset>
        </div>
        <div class="col-md-12">
            <fieldset>
                <label for="formFile" class="form-label">Select Product Image</label>
                <input class="form-control" name="files" multiple type="file" id="formFile" />
                <span  class="text-danger"></span>
            </fieldset>
        </div>
        <div class="col-12 mt-3">
            <button type="submit" class="btn-primary d-block mt-3 btn-signin">CREATE</button>
        </div>
    </form>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}